.outline-black {
  background-color: transparent;
  border: 1px solid var(--black-1000);

  &:hover:enabled {
    background-color: var(--pink-primary);

    color: var(--white);
  }

  &:disabled {
    border-color: var(--black-400);

    color: var(--black-400);
  }
}

.outline-white {
  background-color: transparent;
  border: 1px solid var(--white);

  color: var(--white);

  &:hover:enabled {
    background-color: var(--cyan-primary);

    color: var(--black-900);
  }

  &:disabled {
    border-color: var(--black-700);

    color: var(--black-700);
  }
}
