.outline {
  background-color: transparent;

  &.isDisabled {
    pointer-events: none;
  }
}

.outline-black {
  border: 1px solid var(--black-1000);

  &.isActive,
  &:hover {
    color: var(--white);

    border-color: var(--pink-primary);
  }

  &.isActive,
  &::after {
    background-color: var(--pink-primary);
  }

  &.isDisabled {
    border-color: var(--black-400);

    color: var(--black-400);
  }
}

.outline-white {
  border: 1px solid var(--white);

  color: var(--white);

  &.isActive,
  &:hover {
    color: var(--black-900);

    border-color: var(--cyan-primary);
  }

  &.isActive,
  &::after {
    background-color: var(--cyan-primary);
  }

  &.isDisabled {
    border-color: var(--black-700);

    color: var(--black-700);
  }
}
