@import '/styles/mixins/css-lock';

.Ptag {
  font-weight: 400;
}

.Ptag-s {
  @include css-lock(10, 13, 320, 1280);
  @include css-lock(12, 16, 320, 1280, line-height);
}

.Ptag-m {
  @include css-lock(13, 16, 320, 1280);
  @include css-lock(20, 24, 320, 1280, line-height);
}

.Ptag-l {
  font-size: 18px;
  line-height: 29px;
}
