@import '/styles/mixins/direction';

.team {
  position: relative;
}

.teamCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  padding: 80px 0;

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    padding: 0 0 88px;
  }
}

.teamCardsColumnLeft {
  margin-top: 120px;

  @media (max-width: 1023px) {
    margin-top: 48px;
  }
}

.teamCardsColumnRight {
  margin-top: 240px;

  @media (max-width: 1023px) {
    margin-top: 0;
  }
}

.teamCardsLink {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 525px;
  padding: 40px;

  color: var(--white);
  background-color: var(--pink-primary);
  border-radius: 16px;

  @media (max-width: 1023px) {
    background-image: url(../../assets/images/svg/patterns/about-mobile-pattern.svg);
    background-position: top left;
    background-repeat: no-repeat;
  }

  @media (max-width: 767px) {
    height: 240px;
  }

  @media (max-width: 1023px) {
    margin-top: 0;
  }

  &:hover {
    & .pattern1 {
      opacity: 1;
      transition: opacity 20ms ease;
    }
    & .pattern2 {
      opacity: 1;
      transition: opacity 20ms ease 20ms;
    }
    & .pattern3 {
      opacity: 1;
      transition: opacity 20ms ease 40ms;
    }
    & .pattern4 {
      opacity: 1;
      transition: opacity 20ms ease 60ms;
    }
  }
}

.teamCardsArrow {
  align-self: self-end;

  fill: transparent;
  stroke: currentColor;
  stroke-width: 2px;
}

.pattern {
  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background-position: top left;
  background-repeat: no-repeat;

  opacity: 0;
}

.pattern1 {
  background-image: url(../../assets/images/svg/patterns/about-st1.svg);
  transition: opacity 200ms ease-out 300ms;
}
.pattern2 {
  background-image: url(../../assets/images/svg/patterns/about-st2.svg);
  transition: opacity 200ms ease-out 200ms;
}
.pattern3 {
  background-image: url(../../assets/images/svg/patterns/about-st3.svg);
  transition: opacity 200ms ease-out 100ms;
}
.pattern4 {
  background-image: url(../../assets/images/svg/patterns/about-st4.svg);
  transition: opacity 200ms ease-out;
}

.teamPattern {
  position: absolute;

  top: 0;

  transform: translateY(-30%);

  @include rtl {
    left: 0;

    transform: translateY(-30%) rotateY(180deg);
  }

  @include ltr {
    right: 0;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}
