@import '/styles/mixins/css-lock';

.article {
}

.articleImage {
  width: 100%;
  height: auto;

  object-fit: cover;

  @include css-lock(24, 40, 320, 1280, margin-bottom);

  @include css-lock(8, 24, 320, 1280, border-radius);
}

.articleInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 24px;
}

.articleTitle {
  @include css-lock(16, 24, 320, 1280, margin-bottom);
}

.articleDescription {
  @include css-lock(24, 40, 320, 1280, margin-bottom);
}

.articleDescriptionMark {
  text-decoration: underline;
}

.articleTags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include css-lock(64, 72, 320, 1280, margin-bottom);
}

.articleTagsItem {
  background-color: rgba(104, 201, 194, 0.25);

  & + & {
    margin-left: 4px;
  }
}

.articleReadTime {
  margin-left: 16px;
}

.articleContent {
  background-color: var(--black-150);

  border-radius: 24px;

  padding: 40px 48px;
  @include css-lock(64, 72, 320, 1280, margin-bottom);
}

.articleContentHead {
  @include css-lock(24, 32, 320, 1280, margin-bottom);
}

.articleContentItem {
  position: relative;

  padding-left: 12px;

  & + & {
    margin-top: 12px;
  }

  &::before {
    content: '';

    position: absolute;
    left: 0;
    top: 50%;
    top: calc(50% - 2px);

    width: 4px;
    height: 4px;

    background-color: var(--cyan-primary);

    border-radius: 100%;
  }
}

.articleParagraph {
  @include css-lock(48, 64, 320, 1280, margin-bottom);
}

.articleParagraphTitle {
  @include css-lock(24, 32, 320, 1280, margin-bottom);
}

.articleQuote {
  @include css-lock(64, 80, 320, 1280, margin-bottom);
}
