@import '/styles/mixins/css-lock';

.sidebar {
  padding-top: 16px;

  @media (max-width: 1023px) {
    padding-top: 0;
    margin-bottom: 64px;
  }
}

.sidebarTitle {
  margin-bottom: 32px;
}

.sidebarSocials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;

  @include css-lock(48, 56, 320, 1280, padding-bottom);
}

.sidebarSocialsButton {
  width: 100%;
}

.sidebarLatestNewsList {
  margin-bottom: 16px;
}

.sidebarLatestNewsItem {
  padding: 24px 0;

  border-top: 1px solid var(--black-400);
}

.sidebarLatestNewsInfo {
  margin-bottom: 8px;
}

.latestNewsButtonMobile {
  width: 100%;
  max-width: 500px;

  margin: 0 auto;

  display: block;

  @media (min-width: 1024px) {
    display: none;
  }
}

.latestNewsButtonDesktop {
  @media (max-width: 1023px) {
    display: none;
  }
}
