@import '/styles/mixins/css-lock';

.specialistsHead {
}

.specialistsHeadTitle {
  @include css-lock(32, 64, 320, 1280, margin-bottom);
}

.specialistsHeadList {
  display: flex;
  align-items: center;
  @include css-lock(8, 16, 320, 1280, gap);

  overflow-x: auto;

  padding-top: 20px;

  &::-webkit-scrollbar {
    height: 0;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (max-width: 1023px) {
    margin: 0 -16px;
  }

  li {
    flex-shrink: 0;
  }
}

.specialistsHeadListButton {
  span {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  svg {
    stroke: currentColor;
  }
}
