@import '/styles/mixins/css-lock';

.collapse {
  border-top: 1px solid var(--black-400);

  @include css-lock(24, 48, 320, 1280, padding-top);
  @include css-lock(24, 48, 320, 1280, padding-bottom);

  &.isOpened {
    .collapseButtonIcon {
      transform: rotate(-180deg);
    }
  }
}

.collapseButton {
  display: grid;
  grid-template-columns: 30px 1fr 32px;
  grid-template-areas: 'number title icon';
  align-items: center;
  justify-items: start;

  gap: 48px;

  width: 100%;

  background-color: transparent;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 32px;
    grid-template-rows: 16px 1fr;
    grid-template-areas:
      'number .'
      'title icon';
    justify-items: start;
    align-items: flex-start;

    gap: 8px 18px;
  }
}

.collapseButtonNumber {
  grid-area: number;

  color: var(--cyan-700);

  align-self: flex-start;
}

.collapseButtonTitle {
  grid-area: title;

  text-align: left;
}

.collapseButtonIcon {
  grid-area: icon;

  fill: transparent;
  stroke: var(--black-1000);
  stroke-width: 2px;

  transition: transform 0.2s ease-in;
}

.collapseContainer {
  transition: height 300ms ease-in;
}

.collapseContent {
  @include css-lock(16, 24, 320, 1280, padding-top);

  padding-left: 78px;

  max-width: 800px;

  @media (max-width: 768px) {
    padding-left: 0;
  }
}
