@import '/styles/mixins/css-lock';

.Subtitle {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black-700);
}

.Subtitle-large {
  @include css-lock(10, 16, 320, 1280);
  @include css-lock(12, 22, 320, 1280, line-height);
}

.Subtitle-small {
  @include css-lock(10, 13, 320, 1280);
  @include css-lock(12, 16, 320, 1280, line-height);
}

.Subtitle-thin {
  font-weight: 400;
  @include css-lock(10, 16, 320, 1280);
  @include css-lock(12, 24, 320, 1280, line-height);
}

.Subtitle-high {
  @include css-lock(10, 13, 320, 1280);
  @include css-lock(12, 18, 320, 1280, line-height);
}
