@import '/styles/mixins/css-lock';

.heading {
  font-weight: 500;
  font-family: var(--font-family);
}

.heading-l {
  font-weight: 600;
  @include css-lock(21, 36, 320, 1280);
  @include css-lock(27, 43, 320, 1280, line-height);
}

.heading-m {
  @include css-lock(21, 27, 320, 1280);
  @include css-lock(27, 35, 320, 1280, line-height);
}

.heading-s {
  @include css-lock(17, 21, 320, 1280);
  @include css-lock(24, 29, 320, 1280, line-height);
}
