@import '/styles/mixins/css-lock';

.specialistsHead {
  @include css-lock(120, 172, 320, 1280, padding-top);
  @include css-lock(64, 120, 320, 1280, margin-bottom);
}

.specialistSection {
  & + & {
    @include css-lock(78, 160, 320, 1280, margin-top);
  }

  &:last-of-type {
    @include css-lock(88, 164, 320, 1280, margin-bottom);
  }
}

.specialistPagination {
  @include css-lock(60, 120, 320, 1280, margin-top);
  @include css-lock(88, 164, 320, 1280, margin-bottom);
}

.specialistPaginationInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specialistPaginationElement {
  @media (max-width: 767px) {
    display: none;
  }
}

.specialistPaginationButtonMore {
  @media (max-width: 767px) {
    width: 100%;
  }
}
