@import '/styles/mixins/css-lock';
@import '/styles/mixins/direction';

.practicing {
  padding: 170px 16px 0;

  position: relative;

  @media (max-width: 767px) {
    padding: 120px 0 0;
  }
}

.practicingInner {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  @media (max-width: 767px) {
    @include css-lock(430, 530, 320, 767, min-height);
  }
}

.practicingHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.practicingPatternIcon {
  position: absolute;
  top: 0;

  @include rtl {
    right: 0;

    transform: rotateY(180deg);
  }

  @include ltr {
    left: 0;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}
