.inputFile {
  width: 100%;

  &.isDisabled {
    pointer-events: none;

    .inputFileButton {
      border-color: var(--black-600);

      color: var(--black-600);
    }
  }
}

.inputFileInput {
  display: none;
}

.inputFileButton {
  padding: 18px 16px;

  width: inherit;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--pink-primary);

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px dashed var(--pink-primary);
  border-radius: 8px;

  background-color: transparent;

  @media (max-width: 767px) {
    padding: 16px 14px;

    font-size: 13px;
  }

  svg {
    fill: transparent;
    stroke: currentColor;
  }
}

.inputFileName {
  color: var(--black-1000);

  max-width: 70%;

  overflow: hidden;
}
