.mobileHeader {
  display: none;

  background-color: var(--white);

  height: calc(100vh - 56px);

  position: fixed;
  inset: 0;
  top: 56px;
  z-index: 1000;

  transition: transform 0.5s ease;

  transform: translateX(200%);

  @media (max-width: 1024px) {
    display: block;
  }

  &.isOpen {
    transform: translateX(0);
  }
}

.mobileHeaderInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: inherit;
}

.mobileHeaderNav {
}

.languageSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //   gap: 4px;

  padding: 4px;
  margin-bottom: 16px;

  isolation: isolate;

  border: 1px solid var(--black-400);
  border-radius: 100px;
}

.languageSelectItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 12px;

  border-radius: 100px;

  width: 33%;

  &.isSelected {
    background-color: var(--black-200);
  }
}

.languageSelectDivider {
  width: 16px;
  height: 0px;

  border: 1px solid var(--black-400);

  transform: rotate(90deg);

  flex-shrink: 0;
}
