.mobileHeader {
  display: none;

  background-color: var(--white);

  height: calc(100vh - 56px);
  height: calc(var(--vh, 1vh) * 100 - 56px);

  position: fixed;
  inset: 0;
  top: 56px;
  z-index: 1000;

  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
  opacity: 0;

  @media (max-width: 1023px) {
    display: block;
  }

  &.isOpen {
    opacity: 1;
    visibility: visible;
  }
}

.mobileHeaderInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: inherit;

  overflow-y: auto;

  padding-bottom: 16px;
}

.mobileHeaderNav {
}

.languageSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4px;
  margin-top: 40px;

  isolation: isolate;

  border: 1px solid var(--black-400);
  border-radius: 100px;

  position: relative;

  direction: ltr;
}

.languageSelectItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 12px;

  width: 33%;
}

.languageSelectDivider {
  width: 16px;
  height: 0px;

  border: 1px solid var(--black-400);

  transform: rotate(90deg);

  flex-shrink: 0;
}

.languageSelectActivePoint {
  background-color: var(--black-200);
  border-radius: 100px;

  position: absolute;
  top: 4px;
  bottom: 4px;

  z-index: -1;

  transition: transform 0.3s ease;
}
