@import '/styles/mixins/css-lock';

.footer {
  margin: 0 auto 24px;
  padding: 64px 80px 32px;
  max-width: 1392px;

  background-color: var(--black-900);
  background-image: url(../../assets/images/svg/patterns/footer-pattern.svg);
  background-position: top right;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 24px;

  @media (max-width: 1023px) {
    margin: 0;
    padding: 48px 16px 24px;
    background-image: url(../../assets/images/svg/patterns/footer-mobile-pattern.svg);
  }
}

.footerHeading {
  display: flex;
  align-items: flex-end;
  gap: 48px;
  margin-bottom: 80px;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 40px;
  }
}

.footerTitle {
  color: var(--white);
}

.footerBtn {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.footerInner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
  }
}

.footerWrapper {
  display: flex;
  gap: 80px;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 40px;
  }
}

.footerContacts {
  color: var(--white);
}

.footerNav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footerCopyright {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;

  border-top: 1px solid var(--black-700);
  color: var(--black-700);

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 16px;
  }
}
