@import '/styles/mixins/direction';

.modal {
  max-width: 640px;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  position: fixed;
  top: 0;
  bottom: 0;

  z-index: 300;

  background-color: #f7f7f7;

  transition: transform 0.4s ease, opacity 0.4s ease;

  opacity: 0;

  border-left: 1px solid var(--black-400);

  @include rtl {
    padding: 80px 64px 64px 16px;

    left: 0;

    transform: translateX(-200%);
  }

  @include ltr {
    padding: 80px 16px 64px 64px;

    right: 0;

    transform: translateX(200%);
  }

  @media (max-width: 767px) {
    padding: 64px 0 16px 16px;

    inset: 0;

    max-width: unset;

    transform: translateX(0) translateY(200%);

    @include rtl {
      padding: 64px 16px 16px 0;
    }

    @include ltr {
      padding: 64px 0 16px 16px;
    }
  }

  &.isOpen {
    transform: translate(0);
    opacity: 1;
  }
}

.modalInner {
  overflow-y: auto;

  height: 100%;

  display: flex;
  flex-direction: column;

  @include rtl {
    padding-left: 40px;
  }

  @include ltr {
    padding-right: 40px;
  }

  @media (max-width: 767px) {
    @include rtl {
      padding-left: 16px;
    }

    @include ltr {
      padding-right: 16px;
    }
  }

  /* width */
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 95%);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;

    border-radius: 8px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 80%);
  }
}

.modalBottomButtons {
  display: flex;
  gap: 8px;

  margin-top: auto;

  @include rtl {
    margin-right: auto;
  }

  @include ltr {
    margin-left: auto;
  }

  @media (max-width: 767px) {
    justify-content: space-between;

    @include rtl {
      margin-right: 0;
    }

    @include ltr {
      margin-left: 0;
    }
  }

  button {
    min-width: 180px;

    @media (max-width: 767px) {
      min-width: unset;
      width: 100%;
    }
  }
}

.modalCloseButton {
  position: absolute;

  background: 0;

  position: absolute;
  top: 32px;

  @include rtl {
    right: 32px;
  }

  @include ltr {
    left: 32px;
  }

  @media (max-width: 767px) {
    top: 16px;

    @include rtl {
      right: unset;
      left: 16px;
    }

    @include ltr {
      right: 16px;
      left: unset;
    }
  }

  svg {
    width: 32px;
    height: 32px;

    stroke: var(--black-500);
    stroke-width: 2px;
    fill: transparent;
  }
}

.modalChevronsIcon {
  @media (max-width: 1023px) {
    display: none;
  }
}

.modalCrossIcon {
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}

.modalOverlay {
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: -1;

  transition: opacity 0.4s ease;

  opacity: 0;

  &.isShow {
    opacity: 1;

    z-index: 200;
  }
}
