@import '/styles/mixins/css-lock';

.sidebar {
  padding-top: 16px;

  @media (min-width: 1024px) {
    height: fit-content;

    position: sticky;
    top: 0;
  }

  @media (max-width: 1023px) {
    padding-top: 0;

    overflow: hidden;

    margin: 0 -16px;

    min-height: 48px;

    margin-bottom: 64px;
  }
}

.sidebarTitle {
  margin-bottom: 32px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.sidebarCategoriesList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  margin-bottom: 56px;

  @media (max-width: 1023px) {
    flex-wrap: nowrap;
    overflow-x: auto;

    margin-bottom: 0;

    &::-webkit-scrollbar {
      height: 0;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.sidebarCategoriesItem {
  flex-shrink: 0;
}

.sidebarContancts {
  margin-bottom: 32px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.sidebarSocials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;

  margin-bottom: 32px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.sidebarSocialsButton {
  width: 100%;
}

.sidebarCopyright {
  padding-top: 16px;

  border-top-color: var(--black-500);

  @media (max-width: 1023px) {
    display: none;
  }

  ul {
    flex-direction: column;
    gap: 8px;

    margin-top: 16px;
  }
}
