@import '/styles/mixins/css-lock';

.sidebar {
  padding-top: 16px;

  @media (max-width: 1024px) {
    padding-top: 0;

    overflow: hidden;
  }
}

.sidebarTitle {
  margin-bottom: 32px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.sidebarCategoriesList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  margin-bottom: 56px;

  @media (max-width: 1024px) {
    margin-bottom: 64px;

    flex-wrap: nowrap;

    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 0;
    }
  }
}

.sidebarCategoriesItem {
  flex-shrink: 0;
}

.sidebarContancts {
  margin-bottom: 32px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.sidebarSocials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;

  margin-bottom: 32px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.sidebarSocialsButton {
  width: 100%;
}

.sidebarCopyright {
  padding-top: 16px;

  border-top-color: var(--black-500);

  @media (max-width: 1024px) {
    display: none;
  }

  ul {
    flex-direction: column;
    gap: 8px;

    margin-top: 16px;
  }
}
