@import '/styles/mixins/css-lock';

.featuresItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
  margin-bottom: 40px;

  border-top: 1px solid var(--black-500);
}

.featuresItem-light {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.featuresHeading {
  @include css-lock(23, 47, 320, 1280);
}
