.buttonText {
  background-color: transparent;

  padding: 0;
  border-radius: 0;

  position: relative;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    transition: background-color 0.2s ease;

    height: 1px;
  }

  &:disabled {
    color: var(--black-400);
  }
}

.text-black {
  &:hover,
  &.isActive {
    color: var(--pink-primary);

    &::after {
      background-color: var(--pink-primary);
    }
  }
}

.text-pink {
  color: var(--pink-primary);
}

.text-white {
  color: var(--white);

  &:hover:enabled {
    color: var(--cyan-primary);
  }

  &:disabled {
    color: var(--black-700);
  }
}
