.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-alert{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-up-right{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-check{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-chevron-down{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-chevrons{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-cross{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-heart{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-menu{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-search{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-sizing{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-star{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-upload{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
