@import '/styles/mixins/direction';

.rating {
  display: flex;
  align-items: center;

  direction: ltr;
}

.ratingItem {
  padding: 0 3px;

  @include rtl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include ltr {
  }

  &.isEditable {
    cursor: pointer;
  }
}

.ratingItemIcon {
  fill: var(--black-500);

  width: 24px;
  height: 24px;

  &.isActive {
    fill: var(--pink-primary);
  }
}

.ratingItemValue {
  @include rtl {
    color: var(--black-700);
  }

  @include ltr {
    display: none;
  }
}
