@import '/styles/mixins/css-lock';

.specialistSectionInner {
  display: grid;
  grid-template-columns: 1fr fit-content(100%);
  grid-template-rows: fit-content(100%) 1fr;
  grid-template-areas:
    'title button'
    'list list';

  gap: 80px 20px;

  @media (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100%) 1fr fit-content(100%);
    grid-template-areas:
      'title'
      'list'
      'button';
    gap: 0;
  }
}

.specialistSectionTitle {
  grid-area: title;

  @media (max-width: 1023px) {
    margin-bottom: 48px;
  }
}

.specialistSectionTitleAccent {
  display: inline;

  @include css-lock(5, 10, 320, 1280, margin-left);
}

.specialistSectionButton {
  grid-area: button;

  @media (max-width: 1023px) {
    width: 100%;
  }
}

.specialistSectionList {
  grid-area: list;
}
