.comparison {
  padding: 120px 0;

  @media (max-width: 767px) {
    padding: 72px 0 30px;
  }
}

.comparisonInner {
  display: flex;
  gap: 24px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.comparisonStandart {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 48px 64px 64px;
  width: 100%;

  @media (max-width: 767px) {
    padding: 20px;
    gap: 32px;
  }
}

.comparisonOutstaff {
  color: var(--white);

  background-color: var(--cyan-primary);
  background-image: url(../../assets/images/svg/patterns/comparison-pattern.svg);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.comparisonHeadingWrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    font-size: 28px;
  }
}

.comparisonHeading {
  display: inline-block;
}

.comparisonFeatures {
  color: rgba(255, 255, 255, 0.75);
}

.comparisonBtn {
  width: 100%;
}
