@import '/styles/mixins/css-lock';

.careersFormPatternIcon {
  position: absolute;
  top: 0;
  left: 0;

  @include css-lock(120, 358, 320, 1280, width);
  @include css-lock(48, 144, 320, 1280, height);

  @media (max-width: 768px) {
    right: 0;
    left: unset;

    transform: rotateY(180deg);
  }
}

.careersFormSectionInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  @include css-lock(72, 144, 320, 1280, padding-top);

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 48px;
  }
}

.careersFormContainer {
  display: flex;
  flex-direction: column;
  @include css-lock(16, 24, 320, 1280, gap);
}

.careersFormTitle {
  max-width: 630px;
}

.careersForm {
  max-width: 500px;
  width: 100%;

  background-color: var(--black-150);

  @include css-lock(20, 40, 320, 1280, padding);

  @include css-lock(16, 24, 320, 1280, border-radius);

  @media (max-width: 768px) {
    max-width: unset;
  }
}

.careersFormInput {
  & + & {
    @include css-lock(16, 20, 320, 1280, margin-top);
  }
}

.careersFormSubmit {
  margin-top: 40px;

  width: 100%;
}
