.selectWrapper {
  position: relative;

  &.disabled {
    pointer-events: none;
  }
}

.errorMessage {
  position: absolute;
  top: calc(100% + 2px);
  left: 16px;

  color: var(--pink-primary);
}

.optionPrimary {
  // padding: 16px;
}

.optionSecondary {
  display: flex;
  align-items: center;

  padding: 8px 16px;

  svg {
    flex-shrink: 0;
  }
}

.optionLabel {
  margin-left: 8px;
}
