@import '/styles/mixins/css-lock';

.modalHeader {
  @include css-lock(40, 48, 320, 1280, margin-bottom);
}

.modalSelected {
  @include css-lock(32, 48, 320, 1280, margin-bottom);
}

.modalSelectedTitle {
  @include css-lock(12, 24, 320, 1280, margin-bottom);

  @media (max-width: 768px) {
    color: var(--black-700);
    text-transform: uppercase;
  }
}

.modalSelectedSpecialist {
  display: flex;
  align-items: center;
  @include css-lock(12, 16, 320, 1280, gap);

  padding: 8px;
  @include css-lock(32, 48, 320, 1280, margin-bottom);

  background-color: var(--black-150);

  border-radius: 100px;
}

.modalSelectedImage {
  @include css-lock(48, 64, 320, 1280, width);
  @include css-lock(48, 64, 320, 1280, height);

  border-radius: 100%;

  overflow: hidden;

  object-fit: cover;

  flex-shrink: 0;
}

.modalForm {
}

.modalFormTitle {
  margin-bottom: 24px;
}

.modalFormInput {
  & + & {
    @include css-lock(16, 20, 320, 1280, margin-top);
  }
}

.modalBottomButtons {
  display: flex;
  gap: 8px;

  @media (max-width: 768px) {
    justify-content: space-between;
  }
}
