@import '/styles/mixins/css-lock';

.articlesList {
}

.articlesItem {
  @include css-lock(24, 48, 320, 1280, padding-top);
  @include css-lock(24, 48, 320, 1280, padding-bottom);

  border-top: 1px solid var(--black-400);

  &:hover {
    border-top: 1px solid var(--black-700);

    .articlesItemImage {
      transform: scale(1.1);
    }
  }
}

.articlesLink {
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: repeat(4, fit-content(100%));
  grid-template-areas:
    'image publishInfo'
    'image title'
    'image description'
    '. tags';
  gap: 16px 40px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, fit-content(100%));
    grid-template-areas:
      'publishInfo'
      'title'
      'tags';
    gap: 16px;
  }
}

.articlesItemImageWrap {
  border-radius: 8px;
  overflow: hidden;

  grid-area: image;

  align-self: flex-start;
}

.articlesItemImage {
  object-fit: cover;

  width: 100%;
  height: auto;

  transition: transform 0.3s ease;

  @media (max-width: 767px) {
    display: none;
  }
}

.articlesItemPublishInfo {
  grid-area: publishInfo;

  width: fit-content;
}

.articlesItemTitle {
  grid-area: title;
}

.articlesItemDescription {
  grid-area: description;

  margin-bottom: 16px;

  @media (max-width: 767px) {
    display: none;
  }
}

.articlesItemTagsInfo {
  grid-area: tags;

  display: flex;
  align-items: center;
  gap: 4px;
}

.articlesItemTag {
  background-color: rgba(104, 201, 194, 0.25);
}
