@import '/styles/mixins/css-lock';

.footerSocials {
  display: flex;
  flex-direction: column;
  gap: 27px;

  @media (max-width: 767px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.footerSocialsBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  height: 40px;
  width: 110px;

  @include css-lock(13, 16, 320, 1280);

  @media (max-width: 767px) {
    flex-basis: calc((100% - 8px) / 2);
  }
}
