.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-Camera{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-Desktop{
	font-size: calc(32 / 10 * 1em);
	width: calc(45 / 32 * 1em);
}
.icon-add{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-add-person{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-add_circle{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arro-down{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-down-left{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-left{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-left-1{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-nav-left{
	font-size: calc(9 / 10 * 1em);
	width: calc(29 / 9 * 1em);
}
.icon-arrow-nav-right{
	font-size: calc(9 / 10 * 1em);
	width: calc(28 / 9 * 1em);
}
.icon-arrow-right{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-together{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-up{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-up-down{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-up-left{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-arrow-up-left-1{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-bathtub{
	font-size: calc(58 / 10 * 1em);
	width: calc(69 / 58 * 1em);
}
.icon-calendar{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-calendar{
	font-size: calc(61 / 10 * 1em);
	width: calc(69 / 61 * 1em);
}
.icon-cancel{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-cart{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-check_box{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-check_box_outline_blank{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-chevron-down{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-chevron-left{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-chevron-right{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-chevron-up{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-clean{
	font-size: calc(69 / 10 * 1em);
	width: calc(57 / 69 * 1em);
}
.icon-clean-hands{
	font-size: calc(53 / 10 * 1em);
	width: calc(69 / 53 * 1em);
}
.icon-close{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-cloud{
	font-size: calc(41 / 10 * 1em);
	width: calc(74 / 41 * 1em);
}
.icon-cross{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-current_location{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-dishes{
	font-size: calc(57 / 10 * 1em);
	width: calc(69 / 57 * 1em);
}
.icon-do_not_disturb_alt{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-down{
	font-size: calc(12 / 10 * 1em);
	width: calc(12 / 12 * 1em);
}
.icon-download{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-email{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-email-1{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-error{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-eye{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-facebook{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-file_download{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-flag{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-flickr{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-fullscreen{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-grid{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-hairbrush{
	font-size: calc(69 / 10 * 1em);
	width: calc(69 / 69 * 1em);
}
.icon-help{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-image{
	font-size: calc(127 / 10 * 1em);
	width: calc(132 / 127 * 1em);
}
.icon-instagram{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-invision{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-link{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-linkin{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-listing-slider-bg{
	font-size: calc(544 / 10 * 1em);
	width: calc(986 / 544 * 1em);
}
.icon-local_see{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-location_marker{
	font-size: calc(61 / 10 * 1em);
	width: calc(60 / 61 * 1em);
}
.icon-location_pin{
	font-size: calc(32 / 10 * 1em);
	width: calc(32 / 32 * 1em);
}
.icon-logo-horizontal{
	font-size: calc(65 / 10 * 1em);
	width: calc(250 / 65 * 1em);
}
.icon-logo-outline{
	font-size: calc(188 / 10 * 1em);
	width: calc(296 / 188 * 1em);
}
.icon-logo-solid{
	font-size: calc(84 / 10 * 1em);
	width: calc(133 / 84 * 1em);
}
.icon-logo-vertical{
	font-size: calc(103 / 10 * 1em);
	width: calc(132 / 103 * 1em);
}
.icon-mask{
	font-size: calc(47 / 10 * 1em);
	width: calc(69 / 47 * 1em);
}
.icon-menu{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-menu-alt{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-messenger{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-minus{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-mirror{
	font-size: calc(69 / 10 * 1em);
	width: calc(64 / 69 * 1em);
}
.icon-napkins{
	font-size: calc(57 / 10 * 1em);
	width: calc(69 / 57 * 1em);
}
.icon-near_me{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-notifications_none{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-phone{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-photo{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-place{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-profile{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-radio_button_checked{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-radio_button_unchecked{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-rotate_left{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-rotate_right{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-search{
	font-size: calc(20 / 10 * 1em);
	width: calc(20 / 20 * 1em);
}
.icon-settings{
	font-size: calc(30 / 10 * 1em);
	width: calc(30 / 30 * 1em);
}
.icon-share{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-shave{
	font-size: calc(69 / 10 * 1em);
	width: calc(65 / 69 * 1em);
}
.icon-shoes{
	font-size: calc(64 / 10 * 1em);
	width: calc(69 / 64 * 1em);
}
.icon-sink{
	font-size: calc(61 / 10 * 1em);
	width: calc(69 / 61 * 1em);
}
.icon-slack{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-slideshow{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-soap{
	font-size: calc(69 / 10 * 1em);
	width: calc(51 / 69 * 1em);
}
.icon-star-filled{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-star-half-filled{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-star-outline{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-step-corner{
	font-size: calc(164.78 / 10 * 1em);
	width: calc(164.22 / 164.78 * 1em);
}
.icon-sync{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-teethbrush{
	font-size: calc(69 / 10 * 1em);
	width: calc(58 / 69 * 1em);
}
.icon-thumb-down{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-thumb-up{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-tick{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-toilet{
	font-size: calc(69 / 10 * 1em);
	width: calc(69 / 69 * 1em);
}
.icon-towels{
	font-size: calc(54 / 10 * 1em);
	width: calc(69 / 54 * 1em);
}
.icon-tumblr{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-twitter{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-twitter-1{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-up{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-vimeo{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-wash-hands{
	font-size: calc(54 / 10 * 1em);
	width: calc(69 / 54 * 1em);
}
.icon-whats-app{
	font-size: calc(25 / 10 * 1em);
	width: calc(24 / 25 * 1em);
}
.icon-wifi{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
.icon-zoom{
	font-size: calc(69 / 10 * 1em);
	width: calc(69 / 69 * 1em);
}
.icon-zoom_in{
	font-size: calc(24 / 10 * 1em);
	width: calc(24 / 24 * 1em);
}
