.product {
  padding: 254px 0 148px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 24px;
    padding: 120px 0;
  }
}

.productText {
  max-width: 519px;
  margin-right: 120px;

  @media (max-width: 767px) {
    margin-right: 0;
  }
}
