@import '/styles/mixins/css-lock';

.vacancyForm {
  @include css-lock(24, 48, 320, 1280, padding);

  @include css-lock(12, 24, 320, 1280, border-radius);

  background-color: var(--black-150);

  max-width: 470px;
  height: fit-content;

  text-align: center;
}

.vacancyFormTitle {
  margin-bottom: 24px;

  text-align: left;
}

.vacancyFormInput {
  & + & {
    @include css-lock(16, 20, 320, 1280, margin-top);
  }
}

.vacancyFormText {
  margin: 24px 0;
}

.vacancyFormSubmitButton {
  width: 100%;

  margin-top: 40px;
}
