@import '/styles/mixins/css-lock';

.specialistTitle {
  display: grid;
  grid-template-columns: minmax(48px, 64px) 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'image jobName'
    'image features';
  gap: 16px 24px;

  @media (max-width: 1024px) {
    grid-template-rows: 1fr 28px;
    grid-template-areas:
      'image jobName'
      'features features';
    gap: 20px 12px;

    margin-bottom: 32px;
  }
}

.specialistImage {
  grid-area: image;

  @include css-lock(48, 64, 320, 1280, width);
  @include css-lock(48, 64, 320, 1280, height);

  border-radius: 100%;
}

.specialistJobname {
  grid-area: jobName;
}

.specialistExperience {
  grid-area: features;
}
