@import '/styles/mixins/css-lock';

.AccentH {
  width: fit-content;

  color: var(--cyan-primary);
  font-family: inherit;
  font-size: inherit;

  display: inline-block;
}

.AccentHInner {
  position: relative;

  @include css-lock(6, 8, 320, 1280, padding-bottom);

  &.isShow {
    .lineMain,
    .lineWork {
      stroke-dashoffset: 0;
    }
    .lineSpecialists {
      stroke-dashoffset: -1600;
    }
    .lineCompanies {
      stroke-dashoffset: -800;
    }
    .linePracticing {
      stroke-dashoffset: -880;
    }
    .lineCooperationDesktop {
      stroke-dashoffset: -1440;
    }
    .lineFooter {
      stroke-dashoffset: -1000;
    }
    .lineAbout {
      stroke-dashoffset: -1000;
    }
    .lineContacts {
      stroke-dashoffset: -1400;
    }
  }
}

.line {
  position: absolute;
  left: 0;
  right: 0;

  transition: stroke-dashoffset 0.5s ease;
}

.lineBaseStyle {
  width: 100%;

  bottom: 0;
}

.lineSpecialists {
  width: 115%;

  @include css-lock(-25, 15, 320, 1280, top);

  stroke-dashoffset: -800;
  stroke-dasharray: 800;
}

.lineCooperationDesktop {
  width: 115%;

  stroke-dashoffset: -720;
  stroke-dasharray: 720;

  @include css-lock(100, 30, 768, 1280, top);

  @media (max-width: 1219px) {
    display: none;
  }
}

.lineCooperationMobile {
  @media (min-width: 1220px) {
    display: none;
  }
}

.lineMain {
  stroke-dashoffset: -470;
  stroke-dasharray: 470;
}

.lineCompanies {
  stroke-dashoffset: -400;
  stroke-dasharray: 400;
}

.linePracticing {
  stroke-dashoffset: -440;
  stroke-dasharray: 440;
}

.lineFooter {
  stroke-dasharray: 500;
  stroke-dashoffset: -500;
}

.lineWork {
  stroke-dasharray: 700;
  stroke-dashoffset: -700;
}
.lineAbout {
  stroke-dasharray: 500;
  stroke-dashoffset: -500;
}
.lineContacts {
  stroke-dasharray: 700;
  stroke-dashoffset: -700;
}
