@import '/styles/mixins/direction';

.listWidthBullets {
}

.listWidthBulletsItem {
  @include rtl {
    padding-right: 12px;
  }

  @include ltr {
    padding-left: 12px;
  }

  position: relative;

  & + & {
    margin-top: 4px;
  }

  &::before {
    content: '';

    position: absolute;
    top: calc(50% - 2px);

    @include rtl {
      right: 0;
    }

    @include ltr {
      left: 0;
    }

    width: 4px;
    height: 4px;

    background-color: var(--cyan-primary);
  }
}
