@import '/styles/mixins/css-lock';

.Htag {
  font-family: var(--font-family-title);
  line-height: 120%;
  -webkit-font-smoothing: antialiased;
}

.Htag-h1 {
  @include css-lock(34, 76, 320, 1280);
  text-transform: uppercase;
  font-weight: 900;
}

.Htag-h2 {
  @include css-lock(28, 56, 320, 1280);
  font-weight: 900;

  &.isAnimation {
    transform: translateY(0) !important;
    opacity: 1 !important;
    transition: transform 1s ease, opacity 1s ease;
  }

  &.isCanAnimation {
    transform: translateY(50px);
    opacity: 0;

    transition: transform 1s ease, opacity 1s ease;
  }
}

.Htag-h3 {
  font-weight: 900;
  @include css-lock(28, 47, 320, 1280);
}

.Htag-h1,
.Htag-h2,
.Htag-h3 {
  @media (max-width: 1023px) {
    font-weight: 400;
  }
}

.Htag-h4 {
  font-family: var(--family-title);
  @include css-lock(17, 27, 320, 1280);
  @include css-lock(24, 35, 320, 1280, line-height);
  font-weight: 500;
}
