@font-face {
  font-family: 'Namu';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/NAMU-Pro.ttf') format('truetype');
}

:root {
  --font-family: 'Inter', sans-serif;
  --font-family-title: 'Namu', sans-serif;

  --pink-primary: #ff666f;
  --pink-secondary: #fb838c;
  --pink-tertiary: rgba(255, 102, 111, 0.3);

  --cyan-primary: #6cc1bb;
  --cyan-secondary: #89eee7;
  --cyan-900: #1f4e4b;
  --cyan-700: #549e99;

  --white: #ffffff;

  --black-100: #f3f3f3;
  --black-150: #ececec;
  --black-200: #e6e6e6;
  --black-400: #cdcdcd;
  --black-500: #c1c1c1;
  --black-600: #9c9c9c;
  --black-700: #777777;
  --black-800: #515151;
  --black-900: #2c2c2c;
  --black-1000: #070707;
  --black-bg: #f7f7f7;

  --direction: ltr;
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--black-1000);

  background-color: var(--black-bg);

  direction: var(--direction);
}

mark {
  font-size: inherit;
  color: var(--pink-primary);

  background: 0;
}
