@import '/styles/mixins/css-lock';

.specialistItem {
  border-top: 1px solid var(--black-400);

  position: relative;

  padding: 56px 0px;

  cursor: pointer;

  @media (min-width: 1025px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'title title .'
      'features features buttons';

    gap: 32px 0;
  }

  @media (max-width: 1024px) {
    display: block;

    padding: 40px 0px;
  }

  &.isActive {
    background-color: var(--white);
    margin: 0 -16px;
    padding-left: 16px;

    z-index: 140;

    pointer-events: none;
  }
}

.specialistItemTitle {
  grid-area: title;
}

.specialistItemFeatures {
  grid-area: features;
}

.specialistItemButtons {
  grid-area: buttons;

  align-self: end;
  justify-self: end;
  display: flex;
  gap: 10px;

  button {
    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}
